.footer {
    background: #0b3d91; /* bleu marine / navy blue */
  color: #f4f4f4;
}

.social-links a {
  color: #e8efff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #ffffff;
}

.list-unstyled li {
  margin-bottom: 0.5rem;
}

.list-unstyled a {
  color: #e8efff;
  text-decoration: none;
  transition: color 0.3s;
}

.list-unstyled a:hover {
  color: #ffffff;
}

.payment-methods {
  height: 30px;
}